@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Source+Code+Pro:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    /*background-color: #e1cec0;*/
    background-image: url('../images/2.jpg');
    background-size: cover;
}

main {

    display: grid;

    /* Change values to experiment*/
    align-items: center;
    justify-content: center;
    float: left;
}


@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

main .beautiful-logo {
    z-index: 0;
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 6rem;
    margin-top: 150px;
    padding-left: 90%;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffd500;
    text-shadow: 5px 5px 0px #f8e9c4,
    10px 10px 0px #d9d6ba,
    15px 15px 0px #ffcc00,
    20px 20px 0px #ffeb02,
    25px 25px 0px #ecce64,
    30px 30px 0px #ada790;
}


