@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Source+Code+Pro:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    background-color: #EDCFA9;
    background-image: url('back.jpg');
}

main {

    display: grid;

    /* Change values to experiment*/
    align-items: center;
    justify-content: center;
    float: left;
}


@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

main .beautiful-logo {
    z-index: 0;
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 6rem;
    margin-top: 150px;
    padding-left: 90%;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #F9f1cc;
    text-shadow: 5px 5px 0px #FFB650,
    10px 10px 0px #FFD662,
    15px 15px 0px #D29969,
    20px 20px 0px #ff6900,
    25px 25px 0px #AA4A30,
    30px 30px 0px #BA7967;
}


